# Ignore environment variable files
.env
token.json

# Python virtual environments (if using Python)
.venv/
env/
venv/
ENV/

# Node modules (if using JS/TS)
node_modules/

# Pulumi files
*.bak
*.log
*.tmp
__pycache__/
*.pyc

# Editor directories and files
.vscode/
.idea/
.DS_Store