/* Base styles */
.main-nav {
  background-color: var(--background-color-alt);
  padding: var(--spacing-unit);
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.nav-content {
  padding: var(--spacing-unit);
  display: flex;
  align-items: center;
  gap: calc(var(--spacing-unit) * 2);
  max-width: 1280px;
  margin: 0 auto;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo-image {
  height: 32px;
  width: auto;
  transition: transform var(--transition-speed);
}

.nav-logo:hover .nav-logo-image {
  transform: scale(1.5);
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child)::after {
  content: '|';
  margin: 0 var(--spacing-unit);
  color: var(--text-color-light);
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
  padding: var(--spacing-unit);
  border-radius: var(--border-radius);
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

.nav-link:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

/* Hamburger menu styles */
.nav-top {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hamburger-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: var(--text-color);
  transition: all var(--transition-speed);
}


@media (max-width: 768px) {
  /* Styles for screens smaller than 768px (typically mobile) */
  .nav-content {
    flex-direction: column;
    padding: var(--spacing-unit);
  }

  .nav-top {
    display: flex; /* Show on mobile */
    position: relative;
  }

  .hamburger-button {
    display: flex; /* Show hamburger button on mobile */
  }

  .nav-list {
    display: none; /* Hide nav list by default */
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .nav-list.menu-open {
    display: flex; /* Show when menu is open */
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--background-color-alt);
    border-top: 1px solid var(--border-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  .nav-item {
    width: 100%;
    justify-content: center;
  }

  .nav-item:not(:last-child)::after {
    display: none;
  }

  .nav-link {
    display: block;
    padding: calc(var(--spacing-unit) * 2);
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Styles for tablets and smaller desktop screens */
  .nav-content {
    padding: var(--spacing-unit);
  }
}
